# Editors
*.vscode/
*.idea/

# Vagrant
*.vagrant/

# Mac/OSX
*.DS_Store

# Windows
*Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
*.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
*.python-version

# Environments
*.env
*.venv
*env/
*venv/

# datasets
datasets/*/*.png
datasets/*/*.pdf

*.egg-info
*build/


devops/lambda/package*
devops/cloudFormation/request_and_reply.md