accelerate==0.19.0
boto3-stubs[s3,textract]==1.26.130
boto3==1.26.129
diffusers==0.16.1
openai==0.27.8
opencv-python==4.7.0.72
PyMuPDF==1.21.1
python-dotenv==1.0.0
reportlab==4.0.4
scikit-image==0.20.0 
transformers==4.29.2